@model ReWork.Model.ViewModels.Account.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
}

@Html.Action("userinformation", "profile")

<div class="row">
    <ul class="nav nav-tabs">
        <li><a href="@Url.Action("settings", "account")">Settings</a></li>
        <li class="active"><a href="@Url.Action("changepassword", "account")">Change password</a></li>
        <li><a href="@Url.Action("edit","employee")">Edit employee</a></li>
        <li><a href="@Url.Action("information", "profile")">Information</a></li>
    </ul>

    <br />
    <div class="tab-content">
        <div class="tab-pane active">
            <div class="row">
                <div class=" col-md-offset-1 col-md-11">
                    @using (Html.BeginForm("ChangePassword", "account", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Change Password Form</h4>
                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(p => p.OldPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(p => p.OldPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(p => p.OldPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(p => p.NewPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(p => p.NewPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(p => p.NewPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(p => p.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(p => p.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(p => p.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Change password" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



