@model ReWork.Model.ViewModels.Account.EditUserViewModel
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("userinformation", "profile")

<div class="row">
    <ul class="nav nav-tabs">
        <li class="active"><a href="@Url.Action("settings", "account")">Settings</a></li>
        <li><a href="@Url.Action("changepassword", "account")">Change password</a></li>
        <li><a href="@Url.Action("edit","employee")">Edit employee</a></li>
        <li><a href="@Url.Action("information", "profile")">Information</a></li>
        <li><a href="@Url.Action("information", "profile")">Information</a></li>
        <li><a href="@Url.Action("feedbacks", "profile")">Feedbacks</a></li>
    </ul>

    <br />

    <div class="tab-content">
        <div class="tab-pane active">
            <div class="row">
                <div class="col-md-offset-1 col-md-11">

                    @using (Html.BeginForm("Settings", "Account", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        @Html.HiddenFor(p => p.Id)

                        <div class="form-group">
                            @Html.LabelFor(p => p.UserName, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(p => p.UserName, new { @class = "form-control disabled" })
                                @Html.ValidationMessageFor(p => p.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(p => p.FirstName, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(p => p.FirstName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(p => p.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(p => p.LastName, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(p => p.LastName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(p => p.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        @*<div class="form-group">
                <div class="col-md-2">
                    @Html.HiddenFor(p => p.ImagePath)
                    @Html.Raw("<img style='width:100px; height:60px;' src=\"data:image/jpeg;base64," + Model.ImagePath + "\" />")
                </div>
                <div class="col-md-10">
                    <input type="file" name="userphoto" />
                </div>
            </div>*@


                        <div class="form-group">
                            <div class="col-md-2">
                                @Html.Raw("<img style='width:100px; height:80px;' src=\"data:image/jpeg;base64," + Model.ImagePath + "\" />")
                            </div>
                            <div class="col-md-4">                               
                                <div class="dropzone" id="mydropzone"> </div>
                            </div>
                        </div>



                        <div class="form-group">
                            @Html.Label("Freelancer profile", new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                <a href="@Url.Action("create", "employee")">
                                    <input type="button" value="create" class="btn btn-success" />
                                </a>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-default" value="Save" />
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/components/dropzone.js"></script>
    <script>
        Dropzone.options.mydropzone = {
            url: "/account/uploadimage",
            paramName:"userphoto",
            uploadMultiple: true,
            maxFilesize: 2,
            maxFiles: 1,
            acceptedFiles: ".png,.jpg,.jpeg",
            parallelUploads: 100,
            addRemoveLinks: true,
            clickable: true,
            init: function () {
                this.on("maxfilesexceeded", function (file) { this.removeAllFiles(); this.addFile(file); });
            },
        }
    </script>
}
