@using ReWork.WebSite.Helpers;
@using ReWork.Model.ViewModels.Profile;
@using Microsoft.AspNet.Identity;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ReWork</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/bootstrap-multiselect.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/pagination.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>
<body>
    <div class="content">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("ReWork", "Jobs", "Job", null, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink(Resources.Global.Jobs, "Jobs", "Job")</li>
                        <li>@Html.ActionLink(Resources.Global.Employes, "Employees", "Employee")</li>
                        <li>@Html.ActionLink(Resources.Global.Search, "Search", "Home")</li>


                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("moderator"))
                            {
                                <li>@Html.ActionLink("Users", "Users", "Moderator")</li>
                            }
                        }
                    </ul>




                    <ul class="nav navbar-nav navbar-right">

                        <li style="padding-top:10px;padding-right:10px;">
                            <div class="users-count">
                                <span class="fa fa-globe-europe" style="color:#228B22"></span>
                                Online:
                                <span class="counter">1</span>
                            </div>
                        </li>

                        <li style="padding-top:10px;padding-right:30px;">
                            @using (Html.BeginForm("ChangeCulture", "Home", FormMethod.Post))
                            {
                                <select name="lang" class="form-control" style="width:65px" onchange="this.form.submit()">
                                    <option value="en">en</option>
                                    <option value="ru">ru</option>
                                </select>
                            }

                        </li>


                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="dropdown">
                                @Html.Hidden("userId", User.Identity.GetUserId())

                                <a href="#" class="dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @User.Identity.Name
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-profile-menu">
                                    <li style="text-align:center">
                                        <div class="btn-group">
                                            <button type="submit" class="btn btn-secondary" name="profile" value="Customer">Customer</button>
                                            <button type="button" class="btn btn-secondary" name="profile" value="Employee">Employee</button>
                                        </div>
                                    </li>
                                    <li class="divider"></li>

                                    @if (Html.IsProfile(ProfileType.Employee))
                                    {
                                        <li>@Html.ActionLink("MyJobs", "myjobs", "employee")</li>
                                        <li>@Html.ActionLink("Offers", "myoffers", "employee")</li>
                                    }
                                    else
                                    {
                                        <li>@Html.ActionLink("MyJobs", "myjobs", "customer")</li>
                                        <li>@Html.ActionLink("Offers", "myoffers", "customer")</li>
                                    }

                                    <li>@Html.ActionLink("Messages", "chatrooms", "chat")</li>
                                    <li>@Html.ActionLink("Settings", "settings", "account")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink(Resources.Global.SignOut, "SignOut", "account")</li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle btn-lg " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position:relative">
                                    <span class="notifications-counter">0</span>
                                    <span class="fa fa-bell"></span>
                                </a>

                                <div class="dropdown-menu dropdown-notifications" style="min-width:350px;margin-top:7px">
                                    <div class="notification-container-header">
                                        <span class="notification-title">Notifications</span>
                                        <a href="#" class="notification-delete-all">mark all as read</a>
                                    </div>

                                    <div id="notifications-container">

                                    </div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li>@Html.ActionLink(Resources.Global.Registration, "registration", "account")</li>
                            <li>@Html.ActionLink(Resources.Global.Login, "login", "account")</li>
                        }
                    </ul>
                </div>
            </div>
        </div>


        <div class="container body-content">
            @RenderBody()
        </div>

        <div class="modal fade" id="not-exists-emloyee">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
                        <h4>Information</h4>
                    </div>
                    <div class="modal-body">
                        <center>
                            <h3>
                                You not have employee profile, please go to refernce
                                <a href="/employee/create">create employee profile</a>
                            </h3>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <span>&copy; @DateTime.Now.Year - ReWork</span>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")


    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script type="text/javascript" src="~/Scripts/app/layout.js"></script>
    <script type="text/javascript" src="~/Scripts/components/pagination.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
