@using ReWork.WebSite.Helpers;
@using ReWork.Model.ViewModels.Profile;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ReWork</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/bootstrap-multiselect.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/pagination.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="content">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("ReWork", "Jobs", "Job", null, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink(Resources.Global.Jobs, "Jobs", "Job")</li>
                        <li>@Html.ActionLink(Resources.Global.Employes, "Employees", "Employee")</li>
                        <li>@Html.ActionLink(Resources.Global.Search, "Search", "Home")</li>

                        <li>
                            @using (Html.BeginForm("ChangeCulture", "Home", FormMethod.Post))
                            {
                                <div class="form-group">
                                    <select name="lang" class="form-control" style="width:65px" onchange="this.form.submit()">
                                        <option value="en">en</option>
                                        <option value="ru">ru</option>
                                    </select>
                                </div>
                            }
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            if (Html.IsProfile(ProfileType.Employee))
                            {
                                <li>@Html.ActionLink("MyJobs", "myjobs", "employee")</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("MyJobs", "myjobs", "customer")</li>
                            }

                            <li>@Html.ActionLink("Settings", "settings", "account")</li>
                            <li>@Html.ActionLink(Resources.Global.SignOut, "SignOut", "account")</li>

                            <li>                       
                                @using (Html.BeginForm("ChangeProfileType", "profile", FormMethod.Post))
                                {
                                    <div class="form-group">
                                        <select name="profile" class="form-control" style="width:100px" onchange="this.form.submit()">
                                            <option value="Customer">customer</option>
                                            <option value="Employee">freelancer</option>
                                        </select>
                                    </div>
                                }  
                            </li>


                            if (User.IsInRole("moderator"))
                            {
                                <li>@Html.ActionLink("Users", "Users", "Moderator", new { page = 1 }, null)</li>
                            }
                        }
                        else
                        {
                            <li>@Html.ActionLink(Resources.Global.Registration, "registration", "account")</li>
                            <li>@Html.ActionLink(Resources.Global.Login, "login", "account")</li>
                        }
                    </ul>
                </div>
            </div>
        </div>


        <div class="container body-content">
            @RenderBody()
        </div>
    </div>

    <footer>
        <div class="container">
            <span>&copy; @DateTime.Now.Year - ReWork</span>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    
    <script type="text/javascript" src="~/Scripts/layout.js"></script>
    <script type="text/javascript" src="~/Scripts/pagination.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
