@model ReWork.Model.ViewModels.Account.UserDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Html.LabelFor(p => p.UserName)<br />
@Html.DisplayFor(p => p.UserName)
<br /><br />

@Html.LabelFor(p => p.FirstName)<br />
@Html.DisplayFor(p => p.FirstName)
<br /><br />

@Html.LabelFor(p => p.LastName)<br />
@Html.DisplayFor(p => p.LastName)
<br /><br />

@Html.LabelFor(p => p.Email)<br />
@Html.DisplayTextFor(p => p.Email)
<br /><br />

@Html.LabelFor(p => p.RegistrationDate)<br />
@Html.DisplayFor(p => p.RegistrationDate)
<br /><br />

@Html.LabelFor(p => p.Roles)<br />
@foreach (var role in Model.Roles)
{
    <h3>@role</h3>
}
<br /><br />

