@model ReWork.Model.ViewModels.Account.EditUserRolesViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@Html.Hidden("userId",Model.Id)
<input type="submit" name="delete-customer" value="Delete Customer Profile" /><br />
<input type="submit" name="delete-employee" value="Delete Employee Profile" /><br />



@using (Html.BeginForm("EditUser", "Moderator", FormMethod.Post))
{
    @Html.HiddenFor(p => p.Id)

    @Html.LabelFor(p => p.UserName)<br />
    @Html.DisplayFor(p => p.UserName)<br />


    @Html.LabelFor(p => p.UserRoles)
    foreach (var role in Model.AllRoles)
    {
        <h4>
            @role
            <input type="checkbox" name="UserRoles" value="@role" @(Model.UserRoles.Contains(role) ? "checked=\"checked\"" : "") />
        </h4>
    }
    <br />
    <input type="submit" value="Save" />
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/app/edit-user.js"></script>
}


