@using ReWork.WebSite.Helpers;
@model ReWork.Model.ViewModels.Account.UsersViewModel
@{
    ViewBag.Title = "Users";
}

@foreach (var user in Model.Users)
{
    <h3>@user.UserName</h3>

    using (Html.BeginForm("Delete", "Moderator", FormMethod.Post))
    {
        @Html.Hidden("id", user.Id)
        <input type="submit" value="Delete" />
    }

    @Html.ActionLink("Details", "Details", "Moderator", new { userName = user.UserName }, null)<br />
    @Html.ActionLink("Edit", "Edit", "Moderator", new { userName = user.UserName }, null)
}

<br />

@Html.CreatePaging(Model.PageInfo, x => Url.Action("Users", "Moderator", new { page = x }))

