@using ReWork.WebSite.Helpers;
@using ReWork.Model.ViewModels.Profile;
@model ReWork.Model.ViewModels.Job.DetailsJobViewModel
@{
    ViewBag.Title = "Details";
}

@if (Html.IsProfile(ProfileType.Employee))
{
    <div class="modal fade">
        <div class="modal-dialog">
            @Html.Action("Create", "Offer", new { id = Model.Job.Id })
        </div>
    </div>
}

<input type="submit" name="btn" value="btn"/>

<div class="row">
    <div class="col-md-12">
        <div class="job-details-title">
            <h3>
                @Html.Hidden("CustomerId",Model.Job.CustomerId)

                <a href="@Url.Action("jobs","job")">Freelance Projects</a>
                <span style="color:#555;"> › </span>
                <span style="color:#555;" id="jobTitle">@Model.Job.Title</span>
            </h3>
            <div class="job-details-skills">
                @foreach (var skill in Model.Job.Skills)
                {
                    <span>@skill.Title</span>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <div class="well">
            @Model.Job.Description
        </div>

        <br>

        <div class="widget">
            <div class="widget-header" style="text-align: center;">
                Offers
                <span class="job-offers-count">@Model.Job.CountOffers</span>
            </div>

            <div>
                <div class="offers-filter clearfix">
                    <div class="pull-right hidden-xs">
                        @if (Html.IsProfile(ProfileType.Employee))
                        {
                            <input type="submit" name="add-offer" style="margin-right:15px" class="btn btn-primary" value="Add Offer" />
                        }

                        <div class="btn-group">
                            <a class="btn btn-default" name="sort-date">
                                date
                                <span class="fa fa-arrow-up"></span>
                            </a>

                            <a class="btn btn-default" name="sort-payment">
                                price
                            </a>

                            <a class="btn btn-default" name="sort-time">
                                time implementation
                            </a>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="job-offers-container">
                    @foreach (var offer in Model.Offers)
                    {
                        <div class="job-offer" data-days="@offer.ImplementationDays" data-payment="@offer.OfferPayment" data-date="@offer.AddedDate">
                            <div class="pull-right">
                                <span class="job-offer-registration">Added: @offer.AddedDate.ToString()</span>
                                <span class="job-offer-time">@offer.ImplementationDays days</span>
                                <span class="job-offer-price">@offer.OfferPayment $</span>
                            </div>

                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="offer-employee-photo">
                                                <a href="@Url.Action("details", "employee", new { id = offer.EmployeeId })">
                                                    @Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(offer.EmployeeImage) + "\" />")
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="offer-employee-name">
                                                <a href="@Url.Action("details", "employee", new { id = offer.EmployeeId })">
                                                    @offer.UserName
                                                </a>
                                            </div>
                                            <div class="date-registration">
                                                Date registration: @offer.AddedDate.ToShortDateString()
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="job-offer-text">
                                @offer.Text
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <div class="widget">
                    <div class="widget-header">
                        Customer
                    </div>
                    <div>
                        Info about customer
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="widget">
                    <div class="widget-header">
                        Project open
                    </div>
                    <div>
                        @Model.Job.DateAdded.ToShortDateString()
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="widget">
                    <div class="widget-header">
                        Price
                    </div>
                    <div>
                        @Model.Job.Price $
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts
{
    <script type="text/javascript" src="~/Scripts/app/job-details.js"></script>
}

