@using ReWork.WebSite.Helpers;
@model ReWork.Model.ViewModels.Job.DetailsJobViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h3>
    @Model.Job.Title>
</h3>
<div>
    <span>@Model.Job.Description</span>
    <hr />

    @foreach (var skill in Model.Job.Skills)
    {
        <span>@skill.Title | </span>
    }

    <br />
    <span>@Model.Job.Price $</span>
    <br />
    <span>@(((DateTime)Model.Job.DateAdded).ToString())</span>
</div>
<br /><br />

@foreach (var offer in Model.Offers)
{
    <div style="border:1px solid gray;">
        <h4>@offer.UserName</h4>
        <h4>@offer.Text</h4>
        <h4>@offer.OfferPayment</h4>
        <h4>@offer.ImplementationDays</h4>

        @Html.Hidden("employeeId", offer.EmployeeId);
    </div>
}

<input type="submit" name="add-offer" class="btn btn-primary" value="Add Offer" />

<div class="modal fade">
    <div class="modal-dialog">
        @Html.Action("Create", "Offer", new { id = Model.Job.Id })
    </div>
</div>


@section scripts
{
    <script type="text/javascript" src="~/Scripts/job-details.js"></script>
    <script>
        $(function () {
            $("input[name=add-offer]").click(function (e) {
                if ("@User.Identity.IsAuthenticated" == "False") {
                    document.location.href = "/account/login?returnUrl=/job/details/" + @Model.Job.Id;
                }
            
                var isEmployee = "@Html.IsProfile("employee")" == "True";

                if (isEmployee) {
                    $('.modal').modal('show');
                }
                else {
                    var error = "<div class='modal-content'><div class='modal-body'><center><h4>" +
                        "Please go to freelance profile or add his <a href='/profile/settings'>Setings</a></h4></center></div ></div>";
                    $('.modal-dialog').html(error);
                    $('.modal').modal('show');
                }
            });
        })
    </script>
}

