@using ReWork.WebSite.Helpers;
@model ReWork.Model.ViewModels.Job.JobsViewModel
@{
    ViewBag.Title = "Jobs";
}

<h2>Jobs</h2>

@foreach (var job in Model.Jobs)
{
    <div style="border:1px solid black;">
        <h3>
            <a href="@Url.Action("Details","Job",new { id = job.Id})">
                @job.Title
            </a>
        </h3>
        <h4>
            @foreach (var skill in job.Skills)
            {
                <span>@skill | </span>
            }

            <br />
            <span>@job.Price $</span>
            <br />
            <span>@(((DateTime)job.DateAdded).ToString())</span>
        </h4>

        <br />
    </div>
}

<br />

@Html.CreatePaging(Model.PageInfo, x => Url.Action("Jobs", "Job", new { page = x }))


