@using ReWork.WebSite.Helpers;
@{
    ViewBag.Title = "General";
}

<h2>General</h2>

@using (Html.BeginForm("Create", "Customer", FormMethod.Post))
{
    <input type="submit" value="Create Customer Profile" />
}
<br />
@Html.ActionLink("Create Freelancer Profile", "Create", "Employee")
<br />
@Html.ActionLink("change password", "ChangePassword", "Manage")
<br />
@Html.ActionLink("Edit Employee Profile", "Edit", "Employee");
<br />

@if (Html.IsProfile("customer"))
{
    @Html.ActionLink("Create Job", "Create", "Job");
    <br />
    @Html.ActionLink("My Jobs", "MyJobs", "Job", new { page = 1 }, null)
}


@section scripts
{
    <script type="text/javascript" src="~/Scripts/account-settings.js"></script>
}


