@model ReWork.Model.Entities.User

<div class="row">
    <div class="profile-inforamtion">
        <table class="table">
            <tbody>
                <tr>
                    <td class="col-md-3"><span class="info-field">Date registration:</span></td>
                    <td class="col-md-9"><span>@Model.RegistrationdDate.Value.ToShortDateString()</span></td>
                </tr>
                <tr>
                    <td class="col-md-3"><span class="info-field">User name:</span></td>
                    <td class="col-md-9"><span>@Model.UserName</span></td>
                </tr>
                <tr>
                    <td class="col-md-3"><span class="info-field">First name:</span></td>
                    <td class="col-md-3=9"><span>@Model.FirstName</span></td>
                </tr>
                <tr>
                    <td class="col-md-3"><span class="info-field">Last name:</span></td>
                    <td class="col-md-9"><span>@Model.LastName</span></td>
                </tr>
                <tr>
                    <td class="col-md-3"><span class="info-field">Have customer profile:</span></td>
                    <td class="col-md-9"><span>@(Model.CustomerProfile != null ? "+" : "-") </span></td>
                </tr>
                <tr>
                    <td class="col-md-3"><span class="info-field">Have employer profile:</span></td>
                    <td class="col-md-9"><span>@(Model.EmployeeProfile != null ? "+" : "-") </span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

