@model ReWork.Model.ViewModels.Profile.ShortUserInfoViewModel

<div class="profile-short-info">

    <div class="profile-image">
        @Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Image) + "\" />")
    </div>


    <div class="profile-short-info">
        @Html.HiddenFor(p => p.Id)

        <div class="profile-username">
            <span>
                @(Model.FirstName == null ? "FirstName" : Model.FirstName)
            </span>
            <span>
                @(Model.LastName == null ? "LastName" : Model.LastName)
            </span>
        </div>

        <div class="date-registration">
            Data registration: @Model.DateRegistration.ToShortDateString()
        </div>

        <div class="profile-view">
            Посмотреть, как выглядит профиль для всех,
            <a class="green" href="#">
                здесь
            </a>
        </div>
    </div>


    <div class="profile-dop-info hidden-xs hidden-sm">
        <div class="profile-feedbacks-info">
            <div class="profile-feedbacks-info-count">
                @Model.CountFeedbacks
            </div>
            <a>reviews</a>
        </div>
        <div class="profile-feedbacks-dop-info">
            <div class="profile-feedbacks-info-percent">
                @Model.PercentPositiveFeedbacks%
            </div>
            <span class="profile-feedbacks-info-text">
                positive
            </span>
        </div>
    </div>
</div>
