@model ReWork.Model.ViewModels.Account.EmployeeProfileViewModel
@{
    ViewBag.Title = "Create";
    var skills = (IEnumerable<SelectListItem>)ViewBag.Skills;
}

@using (Html.BeginForm("Create", "Employee", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <h4> Create employee profile</h4>
    <hr/>


    <div class="form-group">
        @Html.LabelFor(p => p.Age, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(p => p.Age, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.Age, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.AboutMe, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(p => p.AboutMe, new { @class = "form-control", rows = 8, style="max-width:500px" })
            @Html.ValidationMessageFor(p => p.AboutMe, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.Label("Skills", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.ListBoxFor(p => p.SelectedSkills, skills, new { multiple = "multiple" })
            @Html.ValidationMessageFor(p => p.SelectedSkills, "", new { @class = "text-danger"})
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
        
}
@section scripts
{
    <script type="text/javascript" src="~/Scripts/components/bootstrap-multiselect.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("select[name=SelectedSkills]").multiselect({
                buttonWidth: '250px',
            });
        })
    </script>
}


