@model ReWork.Model.ViewModels.Account.EmployeeProfileViewModel
@{
    ViewBag.Title = "EditEmployee";
    var skills = (IEnumerable<SelectListItem>)ViewBag.Skills;
}


@Html.Action("userinformation", "profile")

<div class="row">
    <ul class="nav nav-tabs">
        <li><a href="@Url.Action("myjobs","job")">My jobs</a></li>
        <li><a href="@Url.Action("information","profile")">Information</a></li>
        <li class="active"><a href="@Url.Action("settings","profile")">Settings</a></li>
    </ul>

    <br />
    <div class="tab-content">
        <div class="tab-pane active">

            <div class="row">
                <div class="col-md-3">
                    <div class="panel-group settings-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="@Url.Action("settings","account")">
                                    Main settings
                                    <span class="fa fa-chevron-right pull-right skill-select"></span>
                                </a>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="@Url.Action("changepassword","account")">
                                    Change password
                                    <span class="fa fa-chevron-right pull-right skill-select"></span>
                                </a>
                            </div>
                        </div>

                        <div class="panel panel-default active">
                            <div class="panel-heading">
                                <a href="@Url.Action("edit","employee")">
                                    Employee profile
                                    <span class="fa fa-chevron-right pull-right skill-select"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    @using (Html.BeginForm("Edit", "Employee", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <h4>Edit employee</h4>
                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(p => p.Age, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(p => p.Age, new { @class = "form-control" })
                                @Html.ValidationMessageFor(p => p.Age, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.Label("Skills", new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.ListBoxFor(p => p.SelectedSkills, skills, new { multiple = "multiple" })
                            </div>
                        </div>  

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script type="text/javascript" src="~/Scripts/bootstrap-multiselect.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("select[name=SelectedSkills]").multiselect({
                buttonWidth: '250px',
            });
        })
    </script>
}

