@model  IEnumerable<ReWork.Model.EntitiesInfo.SectionInfo>
@{
    ViewBag.Title = "Employees";
    var sections = Model.ToList();
}

<div class="filter">
    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("create","employee")" class="btn btn-primary pull-right">
                <span class="fa fa-plus"></span>
                Create freelancer profile
            </a>
            <div class="counter">
                <span class="filter-name">Count freelancers</span>
                <span class="filter-count"></span>
            </div>

        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-9 col-md-push-3">
        <div class="employees-container">

        </div>

        <div class="pagination"></div>
    </div>

    <div class="col-md-3 col-md-pull-9">
        <div class="skills-container">
            <div class="skills-container-header">
                Filter
            </div>

            <form class="skills-form">
                <div class="form-group">
                    <div class="selected-skills-container">
                        <div class="selected-skills-header">
                            Titles categories
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" name="filter" class="btn btn-primary" value="Apply" />
                    <button type="button" name="reset" class="btn btn-default">Reset</button>
                </div>
            </form>


            <div class="panel-group skills-group">
                @for (int i = 0; i < sections.Count(); i++)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="#skill-group-@i" class="bigger" data-toggle="collapse" data-parent="#skills-group">
                                @sections[i].Title
                                <span class="fa fa-chevron-right pull-right skill-select"></span>
                            </a>
                        </div>

                        <ul id="skill-group-@i" class="panel-body collapse">

                            @foreach (var skill in sections[i].Skills)
                            {
                                <li class="pannel-inner">
                                    <div class="pull-right">
                                        <span class="jobs-count">@skill.CountEmployees</span>
                                    </div>

                                    <a class="skill-link">
                                        @skill.Title
                                    </a>

                                    <input type="hidden" value="@skill.Id" />
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/app/employees.js"></script>
}
